doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fixie
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/main.css")
  body(data-ng-app="app")
    header.shadow(data-ng-controller="HeaderCtrl as hdr")
      a.logo(href="/") FIXIE
    div.view(data-ng-view)
    script(src="/js/angular.js")
    script(src="/js/app.js")
