doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fixie
    link(rel="stylesheet", href="/css/main.css")
  body(data-ng-app="app", data-ng-controller="AppCtrl")
    div.view(data-ng-view)
    script(src="/js/app.js")
