div#points-ctrl(data-ng-controller="PointsCtrl as pts")
  div.question-box-wrp
    div.question-box-arrow(data-fx-arrow, data-direction="back")
    div.question-box.shadow
      div.question-box-label Where are you going?
      div.question-box-options
        input.expand(type="text", placeholder="Start Point", data-ng-model="pts.start")
        input.expand(type="text", placeholder="End Point", data-ng-model="pts.end")
        button.primary.expand(data-ng-click="pts.go()") Go!
