div#results-ctrl(data-ng-controller="ResultsCtrl")
  div.results.shadow
    div.row.collapse
      div.small-4.columns
        div.results-label Automobile  
      div.small-4.columns
        div.results-label Public Transportation
      div.small-4.columns
        div.results-label Bike
        
