html, body {
  background: $body-bg url(/img/pattern.png) repeat top left;
}

header {
  background: $body-bg;
  padding: rem-calc(16) rem-calc(20) rem-calc(10) rem-calc(20);
  text-align: center;
  .logo {
    @include single-transition();
    color: $primary-color;
    font-family: 'Chango', sans-serif;
    font-size: rem-calc(40);
    margin: 0;
    &:visited {
      color: $primary-color;
    }
    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}

.animate {
  @include single-transition(opacity);
  opacity: 1;
  &.ng-hide {
    opacity: 0;
  }
}

.shadow {
  -webkit-box-shadow: 0 0 rem-calc(15) 0 rgba(52, 52, 52, 0.2);
  box-shadow: 0 0 rem-calc(15) 0 rgba(52, 52, 52, 0.2);
}

@media #{$medium-up} {
  header {
    text-align: left;
  }
}

